.jdl{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
}

.isi{
    font-size: 20px;
    line-height: 1.6;
    margin: 2cm;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-indent: 50px;
}

